<header class='main_header'>
	<div class='logo_block flex_wrapper'>
		<div class='user'>user: {{session['user']}}</div>
		<div class='logo flex'>
			<p><a href='/'>FilmSearch</a></p>
		</div>
		<ul class='list flex'>
			<li><a href='/content/1'>Content</a></li>
			<li><a href='/watched'>Watched</a></li>
			<li><a href='/my_list'>My List</a></li>
		</ul>
		<ul class='flex sign_in_out'>
			<li><a href='/register'>sign up</a></li>
			<li><a href='/login'>sign in</a></li>
		</ul>

	</div>
</header>